@font-face {
    font-family: "Journey - Soft Bold";
    src: url("../fonts/Journey-SoftBold.otf");
    font-weight: bold;
}

html, body {
    height: 100%;
    background-color: #F7F7F7;
    font-family: Roboto, sans-serif;
}

.wrap {
    min-height: 100%;
    padding-top: 56px;
}

.navbar {
    height: 50px;
    background-color: #4DBFD9;
    font-weight: 500;
    padding: 4px 0 !important;
}

.navbar a {
    color: white;
    padding: 0px 15px;
    border-radius: 4px;
}

.nav-brand {
    margin-top: 6px;
    font-family: "Journey - Soft Bold", serif;
    font-size: 30px;
}

.overview {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: black;
    position: relative;
    color: white;
    border-radius: 4px;
    overflow: hidden;
}

.overview .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: blur(2px);
    opacity: 0.3;
}

.me {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.me img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.me .icon a {
    font-size: 2em;
    color: white;
    transition: all .3s ease-in-out;
}

.me .icon a:hover {
    color: #4DBFD9;
}

.btn-minh {
    background-color: white;
    color: #333 !important;
    font-weight: bold;
    border: 2px solid #4285F4;
    box-shadow: none;
    transition: all .3s ease-in-out;
}

.btn-minh:hover {
    color: white !important;
    background-color: #4285F4;
}

.about-container, .skill-container, .edu-container, .work-container, .contact-container {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .07);
    overflow: hidden;
    margin-top: 16px;
}

.about-container h6, .about-container p {
    margin: 0;
}

.about-container h6 {
    font-weight: 500;
}

.blue-color {
    color: #4dbfd9;
    font-weight: bold;
}

.skill-bar {
    position: relative;
}

.skill-bar:before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 100%;
    background-color: #E5E5E5;
    border-radius: 10px;
    height: 10px;
}

.skill-bar .bar {
    display: inline-block;
    position: relative;
    background-color: #4dbfd9;
    border-radius: 10px;
    height: 10px;
    transition: all .4s linear;
}

.skill-bar .perc {
    display: block;
    position: absolute;
    top: -23px;
    right: 0;
    border-radius: 100%;
    height: auto;
    width: auto;
    padding: 0;
    background-color: white;
    color: #4dbfd9;
    z-index: 2;
    box-shadow: none;
    font-weight: bold;
}

.skill-container .bg {
    height: 100%;
    max-height: 400px;
    width: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.edu-card {
    display: flex;
    margin-bottom: 16px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #e8e8e8;
}

.edu-card .deg {
    padding: 6px;
    border-bottom: 1px solid #e8e8e8;
    border-right: none;
}

.edu-card img {
    max-width: 175px;
    width: auto;
    height: auto;
}

.edu-card .desc {
    padding: 2% 5%;
    border-left-color: transparent;
    font-size: 0.85em;
    font-weight: 400;
}

.edu-card .desc h5 {
    font-weight: bold;
}

.border-right {
    border-right: 1px solid #e8e8e8;
}

.work-card {
    margin-top: 16px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #e8e8e8;
}

.work-card .bg {
    padding: 0;
    height: auto;
}

.work-card .desc {
    padding: 2% 3%;
    font-size: 0.9em;
    font-weight: 400;
}

.work-card .desc h4 {
    font-weight: 400;
}

.contact-container .bg {
    filter: grayscale(100%);
    background-image: url("../images/adventure-blur-cartography-408503-e1538404199525.jpg");
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.contact-container .info {
    position: relative;
    top: auto;
    right: auto;
    overflow: hidden;
    border-radius: .125rem;
    border: 1px solid #e8e8e8;
    border-left: 5px solid #4dbfd9;
}

.contact-container h6 {
    font-weight: bold;
}

.contact-container p {
    margin: 0;
}

.contact-container a {
    color: #333;
    transition: all .3s ease-in-out;
}

.contact-container a:hover {
    color: #4dbfd9;
}

.contact-container .list-group-item {
    border: none;
    border-radius: 0 !important;
}

.tks {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

@media (min-width: 992px) {
    .edu-card img {
        width: 100%;
        height: auto;
    }

    .edu-card .deg {
        border-right: 1px solid #e8e8e8;
        border-bottom: none;
    }

    .contact-container .info {
        top: 10%;
        right: 10%;
        position: absolute;
        border: none;
        border-left: 5px solid #4dbfd9;
    }

    .navbar {
        /*padding: 8px 16px !important;*/
    }

    .skill-bar:before {
        top: 14px;
    }

    .skill-bar .perc {
        top: unset;
        right: unset;
        display: inline-block;
        position: relative;
        height: 38px;
        width: 38px;
        padding: 7px 5px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .07);
        text-align: center;
        transform: translateX(-23px);
    }
}

.mt-10 {
    margin-top: 150px;
}

.mt-9 {
    margin-top: 150px;
}